html
    head
        style
            include ../static/styles/main.css
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Datingsite - Profile
        
    block content
    body   
        nav
            ul
                li
                    a(href='') Home
                li
                    a(href='') Profile
