<% include partials/nav.ejs %>

<body>
  <main>
    <div class="form-div">
        <h1>Register</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="inner-wrap">
                <label for="game">
                  Name 
                  <input required type="text" name="name" />
                </label>

                <label>
                  Geboorte datum 
                  <input required type="number" name="day" />
                  <input required type="number" name="month" />
                  <input required type="number" name="year" />
                </label>

                <label for="email">
                  Email
                  <input required type="email" name="email" />
                </label>
                <label for="password">
                    password
                    <input required type="password" name="password" />
                  </label>
                <label>
                    Your Photo
                    <input name="profilePic" type=file accept=image/*>
                </label>
            </div>
            <div class="button-section">
             <input type="submit" name="toevoegen" value="Add game" />
            </div>
        </form>
    </div>
  </main>
  <% include partials/tail.ejs %>
</body>

</html>
