<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="charset='UTF-8'" content="">
  <meta name="viewport" content="width=device-width" , inital-scale=1.0>
  <link href="../static/styles/main.css" rel="stylesheet" type="text/css">
</head>

<header>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li><a href="/">Profile</a></li>
    </ul>
  </nav>
</header>

<body>
  <main>
    <div class="form-div">
        <h1>Add a game</h1>
        <form action="/" method="POST">
            <div class="inner-wrap">
                <label for="game">
                  Game name 
                  <input type="text" name="gameNaam" />
                </label>

                <label>
                  Type 
                  <select name="type">
                    <option value="single-player">Single player</option>
                    <option value="multi-player">Multi player</option>
                  </select>
                </label>

                <label for="console">
                  Console
                  <select name="console" >
                      <option value="ps4">PS4</option>
                      <option value="xbox">XBOX</option>
                      <option value="pc">PC</option>
                  </select>
                </label>
            </div>
            <div class="button-section">
             <input type="submit" name="toevoegen" value="Add game" />
            </div>
        </form>
    </div>
  </main>
</body>

</html>
