<% include partials/head.ejs %>

<nav>
  <ul>
    <li> <a href="/">Matches</a> </li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="<%= user.id %>/logout">Uitloggen</a></li>
  </ul>
</nav>

<body>
  <main>
    <div class="form-div">
        <h1>Add a game</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="inner-wrap">
                <label for="game">
                  Game name 
                  <input required type="text" name="gameNaam" />
                </label>

                <label>
                  Type 
                  <select name="type">
                    <option value="single-player">Single player</option>
                    <option value="multi-player">Multi player</option>
                  </select>
                </label>

                <label for="console">
                  Console
                  <select name="console" >
                      <option value="ps4">PS4</option>
                      <option value="xbox">XBOX</option>
                      <option value="pc">PC</option>
                  </select>
                </label>
                <label>
                    Game image
                    <input name="gameImage" type=file accept=image/*>
                </label>
            </div>
            <div class="button-section">
             <input type="submit" name="toevoegen" value="Add game" />
            </div>
        </form>
    </div>
  </main>
  <% include partials/tail.ejs %>
</body>

</html>
