<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="charset='UTF-8'" content="">
    <meta name="viewport" content="width=device-width", inital-scale=1.0>
    <link href="../static/styles/main.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <main class="login-main">
        <form action="/" method="POST">
            <fieldset>
                <legend>
                    Add a hobby!
                </legend>

                <label for="voornaam">Voornaam</label>
                <input type="text" name="voornaam" value="">

                <label for="achternaam">Achternaam</label>
                <input type="text" name="achternaam" value="">

                <label for="leeftijd">Leeftijd</label>
                <input type="text" name="leeftijd" value="">

            </fieldset>

            <input type="submit" value="Toevoegen">
        </form>
    </main>
  </body>
</html>
