<% include partials/head.ejs %>

<header>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li><a href="profile">Profile</a></li>
    </ul>
  </nav>
</header>

<body>

  <% for (let i = 0; i < data.length; i++) { %>
  <section>
      <h3>Game Naam: <%= data[i].gameNaam %></h3>
      <h3>Console: <%= data[i].console %> </h3>
      <h3>Type: <%= data[i].type %> </h3>
  </section>
  <% } %>

</body>
