extends ../partials/nav.pug

block content

  main
      section
          h1 Your Name
          img(src='../static/images/avatar.png' alt='Profile picture')
      p
          | One liner about yourself!
      section
          h3
              | Your interests
      ol
          li
              | Like to read books
          li
              | Like to play football
          li
              | Like to drive cars
      section
          h2 Your bio
          p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores culpa deleniti omnis commodi saepe, voluptas, dolorum perspiciatis non dolor atque doloremque pariatur ab optio aperiam adipisci, placeat obcaecati enim dolore!
              
              
