<% include partials/head.ejs %>

<header>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li><a href="profile">Profile</a></li>
    </ul>
  </nav>
</header>

<body>
  <main>
    <section>
      <img src="../static/images/avatar.png" alt="Profile picture">
      <ul>

        <li>Naam: Sajjad Ali </li>
        <li>Age: 22  </li>
        <li>Geslacht: Man  </li>
        
      </ul>
    </section>

    <section>
      <div>
        <h2>
          Mijn games
        </h2>
      </div>

      <div class="populair">       

        <% for (let i = 0; i < data.length; i++) { %>
        <article>
          <h2><%= data[i].gameNaam%></h2>
          <a href="gamedetail"><img src="../static/images/dansen.jpg" alt=""></a>
          <h3>Type: <%= data[i].type %></h3>
          <h3>Console: <%= data[i].console %></h3>
          <button id="js-remove" data-id='<%= data[i].id %>' class="danger">Remove</button>
        </article>
        <% } %>

        <article>
            <a class="add" href="game"><img src="../static/images/add.png" alt="">Add a game</a>
        </article>
                
      </div>
    </section>
  </main>
  <% include partials/tail.ejs %>
</body>
