<% include partials/head.ejs %>

<header>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li><a href="/">Profile</a></li>
    </ul>
  </nav>
</header>

<body>
  <main>
    <div class="form-div">
        <h1>Make an account</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="inner-wrap">
                <label for="firstname">
                  First name 
                  <input type="text" name="firstName" />
                </label>

                <label for="lastname">
                    Last name 
                    <input type="text" name="lastName" />
                </label>

                <label for="name">
                    Age 
                    <input type="number" name="age" />
                </label>

                <label>
                  Geslacht
                  <select name="type">
                    <option value="man">Male</option>
                    <option value="vrouw">Female</option>
                  </select>
                </label>
            </div>

            <div>
             <input type="submit" name="toevoegen" value="Make account" />
            </div>
        </form>
    </div>
  </main>
  
</body>
