<% include partials/head.ejs %>
<header>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li><a href="profile">Profile</a></li>
    </ul>
  </nav>
</header>

<body>
  <main>
    <section>

    </section>

    <section>
      <div>
        <h2>
         <%= data.gameNaam %>
        </h2>
        <article>
            <p> <%= data.type %> </p>
            <p> <%= data.console %> </p>
            <img src="<%= data.gameImage %>.png" alt="">
        </article>
        
      </div>
    </section>
  </main>
</body>
