* {
  box-sizing: border-box;
}

body {
  font-family: 'nexa';
  font-size: 1em;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #845ec2, #b051b7, #d342a4, #ee3388, #ff3268);
  color: white;
}


section:nth-of-type(1) {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

section:nth-of-type(1) .avatar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  border-radius: 10px;
}

section {
  padding: 1em;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.profile h3 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
}

section div {
  display: flex;
  overflow-x: hidden;
  margin-bottom: 1.3em;
  border-radius: 0.5em 0.5em 0em 0em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

section div:nth-child(1) {
  overflow-x: hidden;
  margin-bottom: -1em;
  /* background-color: white; */
}

section div:nth-child(1) h2 {
  color: white;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}

.matches {
  width: 80%;
  background-color: #D65DB1;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 10px 10px 0px 0px;
}

.matches h1 {
  font-size: 2em;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

section:nth-of-type(2)>div:nth-of-type(1) {
  background-color: #D65DB1;
  margin-bottom: 0;
}

.populair {
  background-color: white;
  border-radius: 0em;
}

.populair .add {
  font-size: 1.2em;
  text-decoration: none;
}

.add img {
  width: 2em;
  height: 2em;
}


.add-game {
  background-color: #845ec2;
  height: 34em;
}

.add {
  color: white;
}

div article {
  width: 16.5em;
  margin: 1em;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.33);
  padding: 1em;
}

article {
  background-color: white;
  border-radius: 5px;
  padding: 0.5em 0 0.5em;
  margin-bottom: 0.9em;
  margin-right: 1em;
  color: black;
  border-radius: 5px;
  position: relative;
}

img {
  max-width: 100%;
}

nav {
  /* background-color: orange; */
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: -0.5em;
  width: 100%;
  font-size: 1.2em;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: -0.1em;
  list-style: none;
  text-decoration: underline;
}

nav ul li {
  position: relative;
  margin-bottom: -1em;
  margin-right: 1.5em;
  padding-left: 0.5em;
  padding-top: 0.3em;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

.login-main {
  padding-top: 2em;
  background: transparent;
}

@media (min-width: 64em) {
  main {
    width: 60em;
    margin: auto;
  }
}

.form-div{
	width:90%;
	padding: 1.8em;
  margin-left: auto;
  margin-right: auto;
	background: #FFF;
	border-radius: 10px;
}
.form-div .inner-wrap{
	padding: 1.8em;
	background: #F8F8F8;
	border-radius: 10px;
	margin-bottom: 1em;
}
.form-div h1{
	background: #D65DB1;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
}

.form-div label{
	display: block;
	color: black;
  margin-bottom: 1em;
  font: normal 1.6em serif;
}

.form-div input[type="text"],
.form-div input[type="number"],
.form-div input[type="password"],
.form-div input[type="email"],
.form-div select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 0.8em;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
  border: 2px solid #fff;
}

.form-div input[type="submit"]{
	background: #D65DB1;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	border: none;
	font-size: 1.4em;
}

.form-div input[type="button"]:hover, 
.form-div input[type="submit"]:hover{
	background: #FF6F91;
}

.home-main {
  margin-right: auto;
  margin-left: auto;
  background-color: #845ec2;
  border-radius: 0px 0px 10px 10px;
  width: 80%;
  display: flex;
}

.home-main img {
  width: 10em;
  display: flex;
}

.home-main article {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.home-main a {
  background: #D65DB1;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	border: none;
  font-size: 0.9em;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}



/* Image carousel */

.image-carousel {
  width: 100%;
  height: 42em;
  overflow: hidden;
  position: relative;
}

.inner {
  display: flex;
  position: absolute;
  left: 0;
  transition: left 0.25s;
}

.next::after, .prev::after {
  content: '>';
  position: absolute;
  top:45%;
  right: 0;
  background-color: black;
  width: 1.5em;
  height: 1.5em;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  transform: translateY(-50%);
  line-height: 1.5em;
  box-sizing: border-box;
  padding: 0 0.2em;
  opacity: 0.45;
  transition: opacity 0.1s linear;
  cursor: pointer;
  border-radius: 50%;
}

.next:hover::after, .prev:hover::after {
  opacity: 1;
}


.prev::after {
  content: '<';
  left: 0;
}

.bubbles {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 85px;
}

.bubble {
  margin: 2.5px;
  background-color: black;
  border-radius: 1000000px;
  width: 10px;
  height: 10px;
  display: inline-block;
  opacity: 0.25;
  transition: 0.1s linear;
  cursor: pointer;
}

.bubble:hover {
  opacity: 0.65;
}

.active {
  opacity: 1;
}

.carousel-img {
  width: 25em; 
  height: 20em; 
  margin-bottom: 1em;
}

.carousel-link {
	background: #D65DB1;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	border: none;
  font-size: 1.4em;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}